@import "./variables";

.project-wrapper {
  display: flex;
  flex-direction: row;

  .styled-forme-avatar {
    height: 8em;
    width: 35rem;
    background: $secondAccentColor;
    position: relative;
    top: 13rem;
    left: -8.5em;
    margin-bottom: 5rem;
  }

  .big-title-2-avatar {
    font-weight: 800;
    font-size: 6rem;
    line-height: 1.9;
    font-variant-caps: all-small-caps;
    position: absolute;
    z-index: 2;
    margin-top: 1.3em;
    left: 150px;
  }

  .big-title-2-avatar-bis {
    font-weight: 800;
    font-size: 6rem;
    line-height: 1.9;
    font-variant-caps: all-small-caps;
    position: absolute;
    z-index: 2;
    margin-top: 2em;
    left: 150px;
  }

  .big-title-3-avatar {
    font-weight: 800;
    font-size: 6rem;
    line-height: 1.9;
    font-variant-caps: all-small-caps;
    position: absolute;
    z-index: 2;
    margin-top: 2.5em;
    left: 150px;
  }
}

.project-container-right-avatar {
  width: 50vw;
  height: 100vh;
  background-image: url("../images/avatar-portrait.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.special {
  color: #ea4c89;
}

@media (max-width: 768px) {
  .project-wrapper {
    flex-direction: column-reverse;

    .project-container-right-avatar {
      width: 100vw;
      height: 450px;
    }

    .project-container-left {
      .styled-forme-avatar {
        height: 5em;
        width: 18em;
        position: relative;
        top: 4em;
        left: 1em;
        margin-bottom: 5rem;
      }
    }

    .big-title-2-avatar {
      font-weight: 800;
      font-size: 4em;
      line-height: 0.7;
      left: 0.47em;
      margin-top: 0.7em;
    }

    .big-title-2-avatar-bis {
      font-weight: 800;
      font-size: 4em;
      line-height: 0.7;
      margin-top: 1.4em;
      left: 0.47em;
    }

    .big-title-3-avatar {
      font-weight: 800;
      font-size: 4em;
      line-height: 0.7;
      left: 0.47em;
      margin-top: 1.8em;
    }
  }
}
