@import "./variables";

.deactivated-button {
  background: $accentColor;
  height: 4rem;
  width: 4rem;
  border-radius: 100rem;
  border-style: none;
  top: 87vh;
  left: 5vw;
  position: fixed;
  z-index: 99;
}

.activated-button {
  background: $accentColor;
  height: 4rem;
  width: 4rem;
  border-radius: 100rem;
  border-style: none;
  top: 87vh;
  left: 5vw;
  position: fixed;
  z-index: 99;
  animation: spin 0.3s ease-in-out;
  -webkit-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
}

.logo-nav img {
  margin-top: .2em;
}

.btn-hidden-gmail {
  background: $accentColor;
  height: 4rem;
  width: 4rem;
  border-radius: 100rem;
  border-style: none;
  top: 87vh;
  left: 5vw;
  position: fixed;
  z-index: 90;
  transform: translateY(0);
  transition-duration: 500ms;
  transition-property: transform;
  -webkit-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
}

.btn-showed-gmail {
  background: $accentColor;
  height: 4rem;
  width: 4rem;
  border-radius: 100rem;
  border-style: none;
  top: 87vh;
  left: 5vw;
  position: fixed;
  z-index: 90;
  transform: translateY(-7rem);
  transition-duration: 500ms;
  transition-property: transform;
  -webkit-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
}

.btn-hidden-dribbble {
  background: $accentColor;
  height: 4rem;
  width: 4rem;
  border-radius: 100rem;
  border-style: none;
  top: 87vh;
  left: 5vw;
  position: fixed;
  z-index: 90;
  transform: translateX(0);
  transition-duration: 500ms;
  transition-property: transform;
  -webkit-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
}

.btn-showed-dribbble {
  background: $accentColor;
  height: 4rem;
  width: 4rem;
  border-radius: 100rem;
  border-style: none;
  top: 87vh;
  left: 5vw;
  position: fixed;
  z-index: 90;
  transform: translateX(7rem);
  transition-duration: 500ms;
  transition-property: transform;
  -webkit-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
}

.btn-hidden-github {
  background: $accentColor;
  height: 4rem;
  width: 4rem;
  border-radius: 100rem;
  border-style: none;
  top: 87vh;
  left: 5vw;
  position: fixed;
  z-index: 90;
  transform: translate(0);
  transition-duration: 500ms;
  transition-property: transform;
  -webkit-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
}

.btn-showed-github {
  background: $accentColor;
  height: 4rem;
  width: 4rem;
  border-radius: 100rem;
  border-style: none;
  top: 87vh;
  left: 5vw;
  position: fixed;
  z-index: 90;
  transform: translate(5rem, -5rem);
  transition-duration: 500ms;
  transition-property: transform;
  -webkit-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes spinBis {
  100% {
    -webkit-transform: rotate(-315deg);
    transform: rotate(-315deg);
  }
}
