@import "styles/variables";

body {
    background: $mainColor;
    color: $white;
}

.contact-container {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 40px;
    margin-top: 20vh;
    margin-left: 23vw;
}

.contact-text {
    margin-left: 23vw;
}

span {
    color: $accentColor
}

section {
    font-size: 20px;
}