@import "styles/variables";

body {
  background: $mainColor;
  color: $white;
  width: 100vw;
}


.spanBold{
  font-weight: 800;
}
.contact-container {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 40px;
  margin-top: 20vh;
  margin-left: 23vw;
}

.contact-text {
  margin-left: 23vw;
}

span {
  color: $accentColor;
}

section {
  font-size: 20px;
}

.email {
    color: $secondAccentColor;
    font-weight: 600;
    font-size: 1.2rem;
}