@import "styles/variables";

.home-page {
  height: 100vh;
  width: 100vw;
}

.home-wrapper {
  background: $mainColor;
  color: $white;
  height: 100vh;
  width: 100vw;
}

.home-title {
  font-size: 4rem;
  padding-top: 40vh;
  padding-left: 5vw;
  position: absolute;
  z-index: 1;
}

.first {
  color: $accentColor;
  font-weight: bold;
}

.second {
  color: $secondAccentColor;
  font-weight: bold;
}

.divName {
  padding-left: 5vw;
  padding-top: 8vh;
  position: fixed;
  z-index: 2;
}

.brandName {
  font-size: 1.3rem;
  font-variant-caps: all-small-caps;
  letter-spacing: 0.7rem;
  font-weight: 200;
  color: $white;

  &:hover {
    color: $accentColor;
  }
}

.sideMenu-container {
  position: fixed;
  right: 0;
  width: 200px;
  z-index: 99;

  .sideMenu-wrapper {
    display: flex;
    justify-content: space-evenly;
    justify-items: end;
  }

  .left-bar {
    height: 100vh;
    width: 1px;
    background: rgba($color: #fff, $alpha: 0.1);
  }

  .side-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: $accentColor;
    font-size: 1.1rem;
    font-weight: 700;

    .up {
      margin-top: 8vh;
    }

    .down {
      margin-bottom: 8vh;
    }
  }
}

.nav-wrapper {
  visibility: hidden;
}


@media (max-width: 480px) {

  .home-title {
    font-size: 3.5em;
    padding-top: 40vh;
    padding-left: 5vw;
    position: absolute;
    z-index: 1;
  }

  .mobile-hidden {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  .nav-wrapper {
    visibility: visible;
    width: 100%;
    height: 100vh;

    .menu-container {
      background: $accentColor;
      bottom: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 100vh;
      justify-content: center;

      .nav-content {
        text-align: center;
        padding: 10px;
      }
    }
  }
}