@import "styles/variables";

.home-wrapper {
    background: $mainColor;
    color: $white;
    height: 100vh;
    width: 100vw;
}

.home-title {
    font-size: 4rem;
    padding-top: 40vh;
    padding-left: 5vw;
    position: absolute;
    z-index: 1;
}

.first {
    color: $accentColor;
}

.second {
    color: $secondAccentColor;
}

.divName {
    padding-left: 5vw;
    padding-top: 8vh;
    position: fixed;
    z-index: 2;
}

.brandName {
    font-size: 1.3rem;
    font-variant-caps: all-small-caps;
    letter-spacing: .7rem;
    font-weight: 200;
    color: $white;
    
    &:hover {
        color: $accentColor;
    }
}

.sideMenu-container {
    position: fixed;
    right: 0;
    width: 200px;
    
    .sideMenu-wrapper {
        display: flex;
        justify-content: space-evenly;
    }

    .left-bar {
        height: 100vh;
        width: 1px;
        background: rgba($color: #fff, $alpha: .1);
    }

    .side-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: $accentColor;
        font-size: 1.1rem;
        font-weight: 700;

        .up {
            margin-top: 8vh;
        }

        .down {
            margin-bottom: 8vh;
        }
    }


}

