@import "styles/variables";

.home-page {
  height: 100vh;
  width: 100%;
}

.home-page-mobile {
  display: none;
}

.home-wrapper {
  background: $mainColor;
  color: $white;
  height: 100vh;
  width: 100vw;
}

.home-title {
  font-size: 4rem;
  font-weight: 700;
  padding-top: 25%;
  padding-left: 15%;
  position: absolute;
  z-index: 1;
}

.welcoming {
  font-weight: 500;
  font-size: 1.5em;
  margin-top: 23%;
  position: absolute;
  padding-left: 15%;
}

.first {
  color: $accentColor;
  font-weight: 700;
}

.second {
  color: $secondAccentColor;
  font-weight: 700;
}

.divName {
  padding-left: 5vw;
  padding-top: 8vh;
  position: fixed;
  z-index: 2;
}

.brandName {
  font-size: 1.3rem;
  font-variant-caps: all-small-caps;
  letter-spacing: 0.7rem;
  font-weight: 200;
  color: $white;

  &:hover {
    color: $accentColor;
  }
}

.sideMenu-container {
  position: fixed;
  right: 0;
  width: 200px;
  z-index: 99;
  

  .sideMenu-wrapper {
    display: flex;
    justify-content: space-evenly;
    justify-items: end;
  }

  .left-bar {
    height: 100vh;
    width: 1px;
    background: rgba($color: #fff, $alpha: 0.1);
  }

  .side-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: $accentColor;
    font-size: 1.1rem;
    font-weight: 700;

    .up {
      margin-top: 8vh;
    }

    .down {
      margin-bottom: 8vh;
    }
  }
}

.nav-visible {
  visibility: hidden;
  height: 0;
  width: 0;
}


@media (max-width: 768px) {

  .home-page {
    display: none;
  }

  .home-page-mobile {
    height: 100vh;
    width: 100vw;
    display: block;
  }

  .welcoming {
    font-weight: 500;
    font-size: 1.5em;
    margin-top: 63%;
    position: absolute;
    padding-left: 5%;
  }

  .home-title {
    font-size: 3.5em;
    padding-top: 70%;
    padding-left: 5%;
    position: absolute;
  }

  .mobile-hidden {
    display: none;
    height: 0;
    width: 0;
  }

  .nav-visible {
    visibility: visible;
  }

  .nav-wrapper {
    visibility: visible;
      

      .nav-content {
        text-align: center;
        padding: 10px;
      }
    }

      .nav-content {
        text-align: center;
        padding: 10px;
      }
  }