@import "./variables";

.project-wrapper {
  display: flex;
  flex-direction: row;

  .project-container-left {
    width: 50vw;
    height: 100vh;

    .title-wrap-2 {
      height: auto;
      margin-left: 17rem;
    }

    .big-title-2 {
      font-weight: 800;
      font-size: 6rem;
      line-height: 0.7;
      font-variant-caps: all-small-caps;
      position: absolute;
      z-index: 2;
      margin-top: 11.7rem;
    }

    .big-title-3 {
      font-weight: 800;
      font-size: 6rem;
      line-height: 1.4;
      font-variant-caps: all-small-caps;
      position: absolute;
      z-index: 2;
      margin-top: 12.5rem;
    }

    .styled-forme-project {
      height: 5rem;
      width: 15rem;
      background: $secondAccentColor;
      position: relative;
      top: 12rem;
      left: -10px;
    }

    .project-paragraph-container-space {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 250px;
      margin-top: 20rem;

      .project-paragraph {
        width: 30rem;
        text-align: justify;
      }
    }

    .project-paragraph-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 250px;

      .project-paragraph {
        width: 30rem;
        text-align: justify;
      }
    }
  }

  .nextNav {
    height: 100px;
    width: 100px;
    background-color: $white;
    margin-left: 92vw;
    margin-top: 45vh;
    opacity: 0.5;
    z-index: 150;
    position: absolute;
    border-radius: 10rem;
  }

  .previousNav {
    height: 100px;
    width: 100px;
    background-color: $white;
    margin-left: 2.8vw;
    margin-top: 45vh;
    z-index: 150;
    position: absolute;
    border-radius: 10rem;
  }

  //TOPIT
  .project-container-right-topit {
    width: 50vw;
    height: 100vh;
    background-image: url("../images/desktop-topit.jpg");
    background-size: cover;
    background-position: center;
  }

  //SPACE EXPLORER
  .styled-forme-space-explorer {
    height: 5rem;
    width: 25rem;
    background: $secondAccentColor;
    position: relative;
    top: 13rem;
    left: -10px;
    margin-bottom: 5rem;
  }

  .project-container-right-space-explorer {
    width: 50vw;
    height: 100vh;
    background-image: url("../images/spaceExplorer.png");
    background-size: cover;
    background-position: center;
  }

  .spaceLinks {
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;

    .play:hover {
      color: $accentColor;
    }
  }

  //PETSIT
  .project-container-right-petsit {
    width: 50vw;
    height: 100vh;
    background-image: url("../images/petsit-showcase.jpeg");
    background-size: cover;
    background-position: center;
  }

  .styled-forme-project-topit {
    height: 5rem;
    width: 17rem;
    background: $secondAccentColor;
    position: relative;
    top: 12rem;
    left: -10px;
  }

  .styled-forme-project-petsit {
    height: 5rem;
    width: 17rem;
    background: $secondAccentColor;
    position: relative;
    top: 12rem;
    left: -10px;
  }

  //CYBERPUNK
  .project-container-right-cyberpunk {
    width: 50vw;
    height: 100vh;
    background-image: url("../images/cyberpunk-ui-concept.png");
    background-size: contain;
    background-position: center;
  }

  .styled-forme-cyberpunk {
    height: 5rem;
    width: 23rem;
    background: $secondAccentColor;
    position: relative;
    top: 13rem;
    left: -10px;
    margin-bottom: 5rem;
  }

  //LOGO E-SPORT
  .project-container-right-esport {
    width: 50vw;
    height: 100vh;
    background-image: url("../images/logo-esport-2020.png");
    background-size: cover;
    background-position: center;
  }

  .styled-forme-esport {
    height: 5rem;
    width: 23rem;
    background: $secondAccentColor;
    position: relative;
    top: 13rem;
    left: -10px;
    margin-bottom: 5rem;
  }

  .previews-container {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .project-wrapper {
    flex-direction: column-reverse;
    width: 100vw;

    .project-container-right-space-explorer {
      width: 100vw;
      height: 450px;
      background-size: cover;
      background-position: center;
    }

    .project-container-right-topit {
      width: 100vw;
      height: 450px;
    }

    .project-container-right-petsit {
      width: 100vw;
      height: 450px;
    }

    .project-container-right-esport {
      width: 100vw;
      height: 450px;
    }

    .project-container-right-cyberpunk {
      width: 100vw;
      height: 450px;
      background-position: center;
      background-size: cover;
    }

    .styled-forme-project-petsit {
      height: 3.5em;
      width: 12em;
      top: 3.5em;
      left: 2em;
    }

    .styled-forme-esport {
      height: 4.5em;
      width: 16em;
      top: 3.5em;
      left: 2em;
    }

    .styled-forme-cyberpunk {
      height: 4.5em;
      width: 16em;
      top: 3.5em;
      left: 2em;
    }

    .styled-forme-space-explorer {
      height: 4.5em;
      width: 16em;
      top: 3.5em;
      left: 1.5em;
    }

    .styled-forme-project-topit {
      height: 3.5em;
      width: 12em;
      top: 3.5em;
      left: 2em;
    }

    .project-container-left {
      width: 0;
      height: 0;

      .title-wrap-2 {
        margin-left: 0;

        .big-title-2 {
          font-size: 4.5em;
          left: 0.47em;
          margin-top: 0.7em;
        }

        .big-title-3 {
          font-size: 4.5em;
          margin-top: 0.8em;
          left: 0.47em;
        }
      }

      .project-paragraph-container {
        align-items: center;
        margin-top: 9em;
        width: 100vw;

        .project-paragraph {
          width: calc(100% - 100px);
          text-align: justify;
        }
      }

      .project-paragraph-container-space {
        align-items: center;
        margin-top: 9em;
        width: 100vw;

        .project-paragraph {
          width: calc(100% - 100px);
          text-align: justify;
        }
        .first-p-avatar {
          margin-top: 2em;
        }
      }
    }
  }
}
