@import "./variables";

.project-wrapper {
  display: flex;
  flex-direction: row;

  .project-container-left {
    width: 50vw;
    height: 100vh;

    .title-wrap-2 {
      width: fit-content;
      height: auto;
      margin-left: 17rem;
    }

    .big-title-2 {
      font-weight: 800;
      font-size: 6rem;
      line-height: 0.7;
      font-variant-caps: all-small-caps;
      position: absolute;
      z-index: 2;
      margin-top: 11.7rem;
    }

    .styled-forme-project {
      height: 5rem;
      width: 15rem;
      background: $secondAccentColor;
      position: relative;
      top: 12rem;
      left: -10px;
    }

    .styled-forme-space-explorer {
      height: 5rem;
      width: 25rem;
      background: $secondAccentColor;
      position: relative;
      top: 14rem;
      left: -10px;
      margin-bottom: 5rem;
    }

    .project-paragraph-container-space {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 250px;
      margin-top: 20rem;

      .project-paragraph {
        width: 30rem;
        text-align: justify;
      }
    }

    .project-paragraph-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 250px;

      .project-paragraph {
        width: 30rem;
        text-align: justify;
      }
    }
  }

  .project-container-right {
    width: 50vw;
    height: 100vh;
    background-image: url("../images/doom.jpg");
    background-size: cover;
  }

  .previews-container {
    margin: 0 auto;
  }
}
