@import "./variables";

.project-wrapper {
  display: flex;
  flex-direction: row;

  .project-container-left {
    width: 50vw;
    height: 100vh;

    .title-wrap-2 {
      width: fit-content;
      height: auto;
      margin-left: 17rem;
    }

    .big-title-2 {
      font-weight: 800;
      font-size: 6rem;
      line-height: 0.7;
      font-variant-caps: all-small-caps;
      position: absolute;
      z-index: 2;
      margin-top: 11.7rem;
    }

    .styled-forme-project {
      height: 5rem;
      width: 15rem;
      background: $secondAccentColor;
      position: relative;
      top: 12rem;
      left: -10px;
    }

    .styled-forme-avatar {
      height: 5rem;
      width: 35rem;
      background: $secondAccentColor;
      position: relative;
      top: 14rem;
      left: -140px;
      margin-bottom: 5rem;
    }

    .project-paragraph-container-space {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 250px;
      margin-top: 20rem;

      .project-paragraph {
        width: 30rem;
        text-align: justify;
      }
    }

    .project-paragraph-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 250px;

      .project-paragraph {
        width: 30rem;
        text-align: justify;
      }
    }
  }

  .nextNav {
    height: 100px;
    width: 100px;
    background-color: $white;
    margin-left: 92vw;
    margin-top: 45vh;
    opacity: 0.5;
    z-index: 150;
    position: absolute;
    border-radius: 10rem;
  }

  .previousNav {
    height: 100px;
    width: 100px;
    background-color: $white;
    margin-left: 2.8vw;
    margin-top: 45vh;
    z-index: 150;
    position: absolute;
    border-radius: 10rem;
  }

  //TOPIT
  .project-container-right-topit {
    width: 50vw;
    height: 100vh;
    background-image: url("../images/desktop-topit.jpg");
    background-size: cover;
    background-position: center;
  }

  //SPACE EXPLORER
  .styled-forme-space-explorer {
    height: 5rem;
    width: 25rem;
    background: $secondAccentColor;
    position: relative;
    top: 13rem;
    left: -10px;
    margin-bottom: 5rem;
  }

  .project-container-right-space-explorer {
    width: 50vw;
    height: 100vh;
    background-image: url("../images/chelou.webp");
    background-size: cover;
    background-position: center;
  }

  .spaceLinks {
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;

    .play:hover {
      color: $accentColor;
    }
  }

  //PETSIT
  .project-container-right-petsit {
    width: 50vw;
    height: 100vh;
    background-image: url("../images/petsit-showcase.jpeg");
    background-size: cover;
    background-position: center;
  }

  .styled-forme-project-petsit {
    height: 5rem;
    width: 17rem;
    background: $secondAccentColor;
    position: relative;
    top: 12rem;
    left: -10px;
  }

  //CYBERPUNK
  .project-container-right-cyberpunk {
    width: 50vw;
    height: 100vh;
    background-image: url("../images/cyberpunk-ui-concept.png");
    background-size: contain;
    background-position: center;
  }

  .styled-forme-cyberpunk {
    height: 5rem;
    width: 23rem;
    background: $secondAccentColor;
    position: relative;
    top: 13rem;
    left: -10px;
    margin-bottom: 5rem;
  }

  //LOGO E-SPORT
  .project-container-right-esport {
    width: 50vw;
    height: 100vh;
    background-image: url("../images/logo-esport-2020.png");
    background-size: cover;
    background-position: center;
  }

  .styled-forme-esport {
    height: 5rem;
    width: 23rem;
    background: $secondAccentColor;
    position: relative;
    top: 13rem;
    left: -10px;
    margin-bottom: 5rem;
  }

  .floating-div-esport {
    height: 250px;
    width: 250px;
    background-image: url("../images/logo-esport-2020.png");
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
    box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
    margin-top: 65vh;
    left: 50rem;
    position: absolute;
    z-index: 33;
  }

  //AVATAR
  .project-container-right-avatar {
    width: 50vw;
    height: 100vh;
    background-image: url("../images/avatar-portrait.jpg");
    background-size: cover;
    background-position: center;
    z-index: 1;
  }

  .floating-div {
    height: 250px;
    width: 250px;
    background-image: url("../images/toph-instagram.png");
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
    box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
    margin-top: 65vh;
    left: 50rem;
    position: absolute;
    z-index: 33;
  }

  .previews-container {
    margin: 0 auto;
  }
}
