@import "./variables";

.work-wrapper {
  background: $mainColor;
  color: $white;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.title-wrap {
  width: fit-content;
  height: auto;
}

.title-wrap-2 {
  width: fit-content;
  height: auto;
  margin-left: 23rem;
}

.styled-forme {
  height: 5rem;
  width: 20rem;
  background: $accentColor;
  top: 17vh;
  margin-left: 4vw;
  position: relative;
  z-index: 1;
}

.styled-forme-2 {
  height: 5rem;
  width: 20rem;
  background: $secondAccentColor;
  top: 17vh;
  margin-left: 4vw;
  position: relative;
  z-index: 1;
}

.left-part {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-description {
  width: 30rem;
  padding-bottom: 5rem;
  text-align: justify;
}

.right-part {
  width: 50vw;
  height: 100vh;
  background: $secondColor;
}

.big-title {
  font-weight: 800;
  font-size: 6rem;
  line-height: 0.7;
  font-variant-caps: all-small-caps;
  position: absolute;
  margin-top: 13vh;
  margin-left: 5vw;
  z-index: 2;
}

.previews-container {
  margin: 0 auto;
  overflow-x: auto;
  position: relative;
  top: 30vh;
  margin: 0 auto;
}

.previews-container-2 {
  margin: 0 auto;
  overflow-x: auto;
  position: relative;
  top: 30vh;
  margin: 0 auto;
}

.previews-wrap {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  top: 0;
  width: 50vw;
}

.previews-wrap-2 {
  display: flex;
  margin: 0 auto;
  top: 0;
  width: 50vw;
}

.containerSlide {
  width: 650px;
  margin: 0 auto;
}

.containerSlide img {
  height: 450px;
  width: inherit;
}

.containerSlide-avatar {
  width: 50vw;
  height: 100vh;
}

.containerSlide-avatar img {
  height: 100vh;
  width: 50vw;
}

.react-slideshow-wrapper {
  display: flex;
  width: 650px;
  overflow: hidden;
}

.images-wrap {
  display: flex;
}

.images-wrap div {
  height: 450px;
  width: 100%;
}

.slide-1 {
  background-image: url("../images/doom.jpg");
  background-size: cover;
  background-position: center;
}

.slide-2 {
  background-image: url("../images/chelou.webp");
  background-size: cover;
  background-position: center;
}

.slide-3 {
  background-image: url("../images/grumpy.jpg");
  background-size: cover;
  background-position: center;
}

.slide-bis-1 {
  background-image: url("../images/cyberpunk-ui-concept.png");
  background-size: cover;
  background-position: center;
}

.slide-bis-2 {
  background-image: url("../images/toph-instagram.png");
  background-size: cover;
  background-position: center;
}

.slide-bis-3 {
  background-image: url("../images/logo-esport-2020\ v2.png");
  background-size: cover;
  background-position: center;
}

.slide-bis-4 {
  background-image: url("../images/AGORA_WALL.jpg");
  background-size: cover;
  background-position: center;
}