@import "./variables";

.webdev-wrapper {
  background: $mainColor;
  color: $white;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.graphist-wrapper {
  background: $mainColor;
  color: $white;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.title-wrap {
  width: fit-content;
  height: auto;
}

.title-wrap-2 {
  width: fit-content;
  height: auto;
  margin-left: 23rem;
}

.styled-forme {
  height: 5rem;
  width: 20rem;
  background: $accentColor;
  top: 17vh;
  margin-left: 4vw;
  position: relative;
  z-index: 1;
}

.styled-forme-2 {
  height: 5rem;
  width: 20rem;
  background: $secondAccentColor;
  top: 17vh;
  margin-left: 4vw;
  position: relative;
  z-index: 1;
}

.left-part {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-description {
  width: 30rem;
  padding-bottom: 5rem;
  text-align: justify;
}

.right-part {
  width: 50vw;
  height: 100vh;
  background: $secondColor;
}

.big-title {
  font-weight: 800;
  font-size: 6rem;
  line-height: 0.7;
  font-variant-caps: all-small-caps;
  position: absolute;
  margin-top: 13vh;
  margin-left: 5vw;
  z-index: 2;
}

.big-title-bottom {
  font-weight: 800;
  font-size: 6rem;
  line-height: 0.7;
  font-variant-caps: all-small-caps;
  position: absolute;
  margin-top: 20vh;
  margin-left: 5vw;
  z-index: 2;
}

.previews-container {
  overflow-x: hidden;
  position: relative;
  top: 26vh;
  margin: 0 auto;
}

.previews-container-2 {
  overflow-x: auto;
  position: relative;
  top: 26vh;
  margin: 0 auto;
}

.previews-wrap {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  top: 0;
  width: 50vw;
}

.previews-wrap-2 {
  display: flex;
  margin: 0 auto;
  top: 0;
  width: 50vw;
}

.containerSlide {
  width: 650px;
  margin: 0 auto;
}

.containerSlide img {
  height: 450px;
  width: inherit;
}

.containerSlide-avatar {
  width: 50vw;
  height: 100vh;
}

.containerSlide-avatar img {
  height: 100vh;
  width: 50vw;
}

.react-slideshow-wrapper {
  display: flex;
  width: 650px;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 1);
}

.images-wrap {
  display: flex;
}

.images-wrap div {
  height: 450px;
  width: 100%;
}

.slide-1 {
  background-image: url("../images/desktop-topit.jpg");
  background-size: cover;
  background-position: center;

  .titleSlide {
    margin: 10px 0 0;
    font-size: 1.5em;
    font-variant-caps: all-small-caps;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 50px;
    opacity: 0;
    transform: translateX(-0.5em);
    transition: all 0.5s;
    will-change: opacity, transform;
  }
}

.slide-2 {
  background-image: url("../images/chelou.webp");
  background-size: cover;
  background-position: center;

  .titleSlide {
    margin: 10px 0 0;
    font-size: 1.5em;
    font-variant-caps: all-small-caps;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 50px;
    opacity: 0;
    transform: translateX(-0.5em);
    transition: all 0.5s;
    will-change: opacity, transform;
  }
}

.slide-3 {
  background-image: url("../images/petsit-2.jpeg");
  background-size: cover;
  background-position: center;

  .titleSlide {
    margin: 10px 0 0;
    font-size: 1.5em;
    font-variant-caps: all-small-caps;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 50px;
    opacity: 0;
    transform: translateX(-0.5em);
    transition: all 0.5s;
    will-change: opacity, transform;
  }
}

.slide-bis-1 {
  background-image: url("../images/cyberpunk-ui.jpeg");
  background-size: cover;
  background-position: center;

  .titleSlide {
    margin: 10px 0 0;
    font-size: 1.5em;
    font-variant-caps: all-small-caps;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 50px;
    opacity: 0;
    transform: translateX(-0.5em);
    transition: all 0.5s;
    will-change: opacity, transform;
  }
}

.slide-bis-2 {
  background-image: url("../images/double-poster-avatar.jpg");
  background-size: cover;
  background-position: center;

  .titleSlide {
    margin: 10px 0 0;
    font-size: 1.5em;
    font-variant-caps: all-small-caps;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 50px;
    opacity: 0;
    transform: translateX(-0.5em);
    transition: all 0.5s;
    will-change: opacity, transform;
  }
}

.slide-bis-3 {
  background-image: url("../images/logo-esport-2020.png");
  background-size: cover;
  background-position: center;

  .titleSlide {
    margin: 10px 0 0;
    font-size: 1.5em;
    font-variant-caps: all-small-caps;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 50px;
    opacity: 0;
    transform: translateX(-0.5em);
    transition: all 0.5s;
    will-change: opacity, transform;
  }
}

.slide-bis-4 {
  background-image: url("../images/agora-2.jpeg");
  background-size: cover;
  background-position: center;

  .titleSlide {
    margin: 10px 0 0;
    font-size: 1.5em;
    font-variant-caps: all-small-caps;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 50px;
    opacity: 0;
    transform: translateX(-0.5em);
    transition: all 0.5s;
    will-change: opacity, transform;
  }
}

.job-description-mobile {
  visibility: hidden;
}

@media (min-width: 1200px) {
  .slide-1 {
    &:hover {
      .titleSlide {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  .slide-2 {
    &:hover {
      .titleSlide {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  .slide-3 {
    &:hover {
      .titleSlide {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  .slide-bis-1 {
    &:hover {
      .titleSlide {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  .slide-bis-2 {
    &:hover {
      .titleSlide {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  .slide-bis-3 {
    &:hover {
      .titleSlide {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  .slide-bis-4 {
    &:hover {
      .titleSlide {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

@media (max-width: 480px) {
  .webdev-wrapper {
    height: 110vh;

    .left-part {
      width: 0;

      .job-description {
        visibility: hidden;
      }
    }

    .right-part {
      width: 100vw;
      height: 100%;

      .job-description-mobile {
        visibility: visible;
        width: calc(100% - 100px);
        margin: 16em auto;
        text-align: justify;
        top: 20em;
      }
    }
  }

  .containerSlide {
    width: 100vw;
    height: 100%;
    margin: 0 auto;
  }

  .react-slideshow-wrapper {
    width: 100%;
  }

  .containerSlide img {
    height: 100%;
    width: inherit;
  }

  .containerSlide-avatar {
    width: 100%;
    height: 100%;
  }

  .containerSlide-avatar img {
    height: 100%;
    width: 100%;
  }

  .images-wrap {
    display: flex;
  }

  .images-wrap div {
    height: 300px;
    width: 100%;
    background-position: center;
  }

  .graphist-wrapper {
    height: 120vh;
    
    .left-part {
      width: 0;
      
      .job-description {
        visibility: hidden;
      }
    }
    
    .previews-wrap-2 {
      width: 100%;
      
      .containerSlide {
        width: 100%;
      }
    }
    
    .right-part {
      background-color: $mainColor;
      width: 100vw;
      height: 100%;

      .title-wrap-2 {
        width: fit-content;
        height: auto;
        margin-left: 0;
      }

      .job-description-mobile-bis {
        width: calc(100% - 100px);
        margin: 5em auto;
        text-align: justify;
      }
    }
  }
}
