@import "styles/variables";
@import "styles/home";
@import "styles/buttons";
@import "styles/work";
@import "styles/contact";
@import "styles/projects";
@import "styles/agora";
@import "styles/avatar";
@import "styles/masonry";

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  outline:none;
}

.App {
  width: 100%;
  height: 100%;
}


a {
  text-decoration: none;
  color: inherit;
}

span {
  color: $secondAccentColor;
  font-weight: 600;
}

@media (max-width: 768px) {
  
  body {
    overflow-x: hidden;
  }
  
  
}